h1 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 20 px;
  font-weight: 200px;
  padding: 0, 20, 0, 20;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 20px;
  color: silver;
}

.head {
  display: inline-block;
  max-width: 100px;
}
form {
  padding: 20px;
  display: block;
}

img {
  display: block;
  margin: auto;
  max-width: 50px;
}

button {
  display: block;
  padding: auto;
  margin: 0, 20, 0, 20;
  border-width: thin;
}
.name {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  text-align: left;
  color: #fd7e14;
  background-color: #fff;
  padding: 20px;
}

.row {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
